.block-component {
  justify-content: center;
  height: 400px;
}
.small-title {
  margin: 10px;
}
.flex {
  display: flex;  
}
.column {
  flex-direction: column;
}
.row {
    flex-direction: row;
    justify-content: space-around;
}
.input {
  margin: 20px auto;
}
.flex button {
    margin: 5px;
}
.result {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.295);
  height: 400px;
  width: 400px;
}
