.block-component {
  justify-content: center;
}
.size {
  height: 30vh;
  width: 30vw;
}
.field :last-child {
  align-self: center;
}
.flex {
  display: flex; 
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around; 
}
.row {
    flex-direction: row;
    justify-content: space-around;
}

.canvas {
  margin: 10px;
}

