.block-component {
  justify-content: center;
}
.field :last-child {
  align-self: center;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
}
.row {
  flex-direction: row;
  justify-content: space-around;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.canvas {
  margin: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}
